@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.d--m-show {
  display: none;
}

.d--m-hide {
  display: block;
}

@media screen and (max-width: 425px) {
  .d--m-show {
    display: block;
  }

  .d--m-hide {
    display: none;
  }
}
.nav__show {
  left: 0% !important;
}

.scrolled-header {
  background-color: black;
  margin-top: 0 !important;
}

body {
  font-family: arial;
  background: #f8f9fb;
}

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

.container {
  margin-inline: 10em 5em;
}

body {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  background-color: white;
}

.header {
  background-image: url(../../images/desktop/image-hero.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
}
.header::after {
  content: "";
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header > * {
  z-index: 100;
}
.header .main-logo {
  padding-left: 5em;
}
.header__nav {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  justify-content: space-between;
  margin-top: 5em;
  position: fixed;
  padding-block: 1em;
  z-index: 1000 !important;
}
.header__nav__list {
  display: inline-flex;
  font-weight: bolder;
}
.header__nav__list__item {
  margin-right: 2em;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
}
.header__nav__list__item::after {
  content: "";
  display: block;
  height: 2px;
  bottom: -0.5em;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__nav__list__item:hover::after {
  width: 50%;
  left: 25%;
}
.header__home {
  margin: 200px 0;
  padding: 2rem;
  border: 2px solid white;
  width: 50%;
}
.header__home__para {
  font-size: 5em;
  text-transform: uppercase;
}

.about {
  margin-block: 10em 5em;
  color: black;
  position: relative;
  display: flex;
}
.about__text {
  padding: 5em 0 0 5em;
  background-color: white;
  width: 50%;
  position: absolute;
  bottom: -16px;
  right: -70px;
}
.about__text__title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal;
}
.about__text__para {
  opacity: 0.6;
  width: 75%;
  line-height: 1.6em;
  font-family: "Alata", sans-serif;
}

.creation {
  color: black;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr auto;
  gap: 1.5em;
  margin: 10em 0;
}
.creation__title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
  grid-column: span 2;
  grid-row: 1/2;
  grid-column: 1/2;
}
.creation__btn {
  border: 1px solid black;
  text-decoration: none;
  padding: 1em 4em;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  grid-row: 1/2;
  grid-column: 2/3;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  text-transform: uppercase;
}
.creation__btn:hover {
  background-color: black;
  color: white;
}
.creation__body {
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.creation__body__img {
  width: 100%;
  transition: filter 350ms ease;
}
.creation__body__img-content {
  position: relative;
  cursor: pointer;
}
.creation__body__img-content:hover .creation__body__img-title {
  color: black;
  font-weight: bold;
}
.creation__body__img-content:hover .creation__body__img {
  filter: opacity(0.5);
}
.creation__body__img-title {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0px 40px;
  transition: color 350ms ease, font-weight 350s ease;
}

.footer {
  background-color: black;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5em;
  padding-block: 3em;
}
.footer-container__list-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-container__list-social__item {
  margin-left: 1em;
  cursor: pointer;
  position: relative;
}
.footer-container__list-social__item::after {
  content: "";
  display: block;
  height: 2px;
  bottom: -0.5em;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer-container__list-social__item:hover::after {
  width: 50%;
  left: 25%;
}
.footer-container__list {
  display: flex;
  align-items: center;
}
.footer-container__list__item {
  margin-right: 1em;
  cursor: pointer;
  position: relative;
}
.footer-container__list__item::after {
  content: "";
  display: block;
  height: 2px;
  bottom: -0.5em;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer-container__list__item:hover::after {
  width: 50%;
  left: 25%;
}
.footer-container__credit {
  text-align: end;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-inline: 5em;
  }

  .header__home {
    width: 65%;
  }

  .about__text {
    padding: 4em 0 0 4em;
    bottom: -16px;
    right: -60px;
  }

  .creation__body__img-title {
    margin: 0px 15px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin-inline: 1.5em;
  }

  .header__home {
    width: 80%;
    margin: 200px auto;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }
  .about__text {
    position: relative;
    padding: 0;
    inset: 0;
    width: 80%;
    text-align: center;
    margin-top: 3em;
  }
  .about__text__para {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  body {
    font-size: 13px;
  }

  .header {
    background-image: url(../../images/mobile/image-hero.jpg);
  }
  .header__nav {
    margin-top: 0;
  }
  .header__nav > img {
    z-index: 2;
  }
  .header__nav__list {
    flex-direction: column;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 1em;
  }
  .header__nav__list.nav__show {
    transition: all 0.5s ease;
  }
  .header__nav__list__item {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 2em;
  }
  .header__home__para {
    font-size: 3.5em;
  }

  .main-logo {
    padding-left: 1em !important;
  }

  .icon-ham {
    padding-right: 1em;
  }

  .about__img {
    width: 100%;
  }

  .about__text {
    width: 90%;
  }
  .about__text__para {
    width: 100%;
    font-size: 1.3em;
    line-height: 2em;
  }

  .creation {
    grid-template-columns: 1fr;
    row-gap: 1.5em;
  }
  .creation__body {
    grid-template-columns: auto;
  }
  .creation__btn {
    grid-row: auto;
    text-align: center;
    grid-column: auto;
    margin-inline: 7em;
  }

  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .footer-container__container {
    text-align: center;
  }
  .footer-container__list {
    grid-row: 2/3;
    flex-direction: column;
  }
  .footer-container__list__item {
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  .footer-container__list-social {
    justify-content: center;
  }
  .footer-container__list-social__item {
    margin-right: 1em;
  }
  .footer-container__credit {
    text-align: center;
    font-size: 1.3em;
    opacity: 0.6;
  }
}
@media screen and (max-width: 375px) {
  .header__home__para {
    font-size: 3em;
  }
}
@media screen and (max-width: 320px) {
  .header__home__para {
    font-size: 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
